html, body {
	height: 100%;
	width: 100%;
	background-color: white;
}
.top-stick {
	position: sticky;
	top: 5px;
	z-index: 1;
}
.clear {
	clear: both;
}
.spclr {
	margin: 0;
	padding: 0;
	border: none;
}
@media (min-width: 768px) {
    .full-align {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/*---------------------------------------------------*/
/*-------------------- B A S E ----------------------*/
/*---------------------------------------------------*/

.header {
	color: white;
	margin: 0;
	padding: 5px;
	border-bottom: ridge 4px gold;
	background-color: green;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.address-box {
	border: ridge 4px gold;
	border-radius: 30px;
	background-color: white;
	color: black;
	width: 95%;
	padding: 5px;
	text-shadow: none;
}
.content-col {
	padding-top: 15px;
	border-left: ridge 4px gold;
	background-color: white;
	min-height: 500px;
}
@media (max-width: 768px) {
    .content-col {
		border: none;
	}
}
.empty {
	min-height: 100%;
}
.navigation-col {
	padding: 15px;
}
.logo {
	width: 100%;
	max-width: 175px;
}
.navbar button, 
.navbar button:hover, 
.navbar button:focus {
	border: none;
	margin: 0;
	padding: 1px;
	background-color: white;
	font-size: 25px;
	border: solid 1px black;
	border-radius: 37px;
	text-align: center;
	outline: none;
}
.nav_but {	
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-pills>li>a {
    border: ridge 2px black;
    border-radius: 26px;
	background-color: gold;
	font-size: 20px;
	color: black;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus {
    color: white;
    background-color: yellowgreen;
    text-shadow: 1px 1px 2px black, 0 0 1em green;
}
.nav-pills>li>a:hover,
.nav-pills>li.active>a:hover {
    color: white;
    background-color: green;
    text-shadow: 1px 1px 2px black;	
}
.footer {
	background-color: black;
	color: white;
	text-align: center;
	height: 50px;
	margin: 0;
	padding: 5px;
	border-top: ridge 2px gold;
}
.footer p {
	margin: 0;
	padding: 0;
	color: white;
}


/*---------------------------------------------------*/
/*-------------------- M A I N ----------------------*/
/*---------------------------------------------------*/

.news-post {
	padding: 7px;
	border: ridge 4px green;
	background-color: yellowgreen;
	border-radius: 15px;
}
.news-post-image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;
}

/*---------------------------------------------------*/
/*---------------- C A T A L O G --------------------*/
/*---------------------------------------------------*/

.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.product-box {
	padding: 4px;
}
.product-cell {
	border: ridge 4px gold;
	border-radius: 10px;
	background-color: green;
	padding: 4px;
	text-align: center;
}
.product-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	object-position: top;
}
.product-image {
	display: block;
	width: 95%;
	border-radius: 15px;
}
.count-cart-add {
	max-width: 50px;
	padding: 3px;
	text-align: center;
}
.form-cart-add {
	display: flex;
	justify-content: flex-end;
}

/*---------------------------------------------------*/
/*------------------- A B O U T ---------------------*/
/*---------------------------------------------------*/
		
.about1 img {
	width: 80%;
	max-width: 300px;
	border: solid 2px orange;
	border-radius: 10px;
}
.about2 img {
	width: 80%;
	border: solid 2px orange;
	border-radius: 10px;
}
.txt-pnl {
	border-style: ridge;
	border-width: 8px;
	border-color: green;
}
#vegetarian {
	text-decoration: none;
	color: green;
}
@media (min-width: 768px) {
    .about1, .about2, .map_set {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 767px) {
    .interview iframe {
		width: 80%;
		height: auto;
	}
}

/*---------------------------------------------------*/
/*----------------- C O N T A C T -------------------*/
/*---------------------------------------------------*/

.map iframe {
	width: 100%;
}
@media (max-width: 767px) {
	.map iframe {
		height: auto;
	}
}


