html, body {
	height: 100%;
	width: 100%;
	background-color: white;
}

/*---------------------------------------------------*/
/*------------ P R I M E - E D I T I O N ------------*/
/*---------------------------------------------------*/

.Prime {
	background-color: green;
	--prime-border-color: gold;
	--prime-background-color: white;
	--prime-box-shadow: black;
	font-family: Lobster, cursive;
}
.prime-box {
	border: ridge 4 gold;
	border-width: 4px;
	border-radius: 30px;
	background-color: white;
	box-shadow: 4px 2px 4px black;
	padding: 15px;
}
.center-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.space {
	margin: 0;
	padding: 0;
	border: none;
}
.clear {
	clear: both;
}
@media (min-width: 768px) {
    .full-align {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
/*----------------------------------*/
/*-----------H E A D E R------------*/

.header-box-pr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: ridge 4px gold;
	background-color: white;
	box-shadow: 4px 3px 3px black;
}
.logo-pr {
	max-height: 150px;
	max-width: 150px;
}
.slogan-pr {
	color: orange;
	text-shadow: 3px 2px 2px black;
	margin: 5px;
}
.liner-pr {
	max-height: 200px;
	width: auto;
}
.address-pr {
	border-radius: 15px;
	padding: 5px;
	color: whitesmoke;
	text-align: center;
}

/*----------------------------------*/
/*-------N A V I G A T I O N--------*/

.navigator-box-pr {
	position: sticky;
	top: 5px;
	z-index: 1;
}
.nav li {
	padding: 5px;
}
.navbar {
	border: ridge 4 gold;
	border-width: 4px;
	border-radius: 30px;
	background-color: white;
	box-shadow: 4px 2px 4px black;
	padding: 5px;
}
.navbar button, 
.navbar button:hover, 
.navbar button:focus {
	margin: 0;
	background-color: white;
	font-size: 25px;
	border: none;
	text-align: center;
	width: 120px;
}
.nav_but {	
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-pills>li>a {
    border: ridge 4px silver;
    border-radius: 21px;
	background-color: whitesmoke;
	width: 100%;
	box-shadow: 2px 1px 2px black;
	font-size: 20px;
	color: green;
	text-shadow: 1px 1px 2px black;
	text-align: center;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus {
    color: white;
    background-color: yellowgreen;
    text-shadow: 1px 1px 2px black, 0 0 1em green;
    box-shadow: none;
}
.nav-pills>li>a:hover,
.nav-pills>li.active>a:hover {
    color: white;
    background-color: green;
    text-shadow: 1px 1px 2px black;
    box-shadow: none;	
}

/*----------------------------------*/
/*----------C O N T E N T-----------*/

.content-col-pr {
	min-height: 500px;
}

/*----------------------------------*/
/*-----------F O O T E R------------*/

.footer {
	background-color: black;
	color: white;
	text-align: center;
	height: 50px;
	margin: 0;
	padding: 5px;
	border-top: ridge 4px gold;
}
.footer p {
	margin: 0;
	padding: 0;
	color: white;
}

/*---------------------------------------------------*/
/*-------------------- M A I N ----------------------*/
/*---------------------------------------------------*/

.news-post-image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;
}

/*---------------------------------------------------*/
/*---------------- C A T A L O G --------------------*/
/*---------------------------------------------------*/

.category-pr {
	border: ridge 4px gold;
	border-width: 4px;
	border-radius: 30px;
	background-color: white;
	box-shadow: 4px 2px 4px black;
	margin: 5px;
	font-size: 30px;
	color: aqua;
	text-shadow: 3px 2px 2px black;
	text-align: center;	
}
.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.product-box {
	padding: 4px;
}
.product-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	object-position: top;
}
.product-image {
	display: block;
	width: 95%;
	border-radius: 15px;
}
.count-cart-add {
	max-width: 50px;
	padding: 3px;
	text-align: center;
}
.form-cart-add {
	display: flex;
	justify-content: flex-end;
}

/*---------------------------------------------------*/
/*-------------------- B A G ------------------------*/
/*---------------------------------------------------*/

.sale-image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;
}

/*---------------------------------------------------*/
/*------------------- A B O U T ---------------------*/
/*---------------------------------------------------*/
		
.about1 img {
	width: 80%;
	max-width: 300px;
	border-radius: 10px;
}
.about2 img {
	width: 80%;
	border-radius: 10px;
}
.txt-pnl {
	border-style: ridge;
	border-width: 8px;
	border-color: green;
	color: black;
}
#vegetarian {
	text-decoration: none;
	color: green;
}
@media (min-width: 768px) {
    .about1, .about2, .map_set {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 767px) {
    .interview iframe {
		width: 80%;
		height: auto;
	}
}

/*---------------------------------------------------*/
/*----------------- C O N T A C T -------------------*/
/*---------------------------------------------------*/

.map iframe {
	width: 100%;
}
@media (max-width: 767px) {
	.map iframe {
		height: auto;
	}
}

