{% extends "main.html" %}

{% block navig %}
<ul class="nav nav-pills nav-justified">
	<li role="Main"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a></li>
	<li role="Catalog"><a href="catalog.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Каталог</a></li>
	<li role="Bag"><a href="bag.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина</a></li>
	<li role="About"><a href="about.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> История</a></li>
	<li role="Contact"><a href="contact.html"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Контакты</a></li>
</ul>
{% endblock navig %}

{% block cont %}

<br>
<div class="container">
	<h1>{{title}}</h1>
	<form method="POST" action="#">
		{% csrf_token %}
		<div class="form-group">
		    <label for="Name_field">Логин</label>
		    <input type="text" class="form-control" name="login" id="Name_field" placeholder="" value="Свои">
		</div>
		<div class="form-group">
			<label for="Password_field">Пароль</label>
			<input type="password" class="form-control" name="password" id="Password_field" placeholder="" value="Те же">
		</div>
		<button type="submit" class="btn btn-success">Подтвердить</button>
	</form>
</div>

{% endblock cont %}