{% extends "base.html" %}

{% load static %}

{% block navig %}
	<li role="Main"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a></li>
	<li role="Catalog"><a href="catalog.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Каталог</a></li>
	<li role="Bag" class="active"><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина
		<span id="cart-size">
			{% if Cart != 0%}
				({{Cart}})
			{% endif %}
		</span>
	</a></li>
	<li role="About"><a href="about.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> История</a></li>
	<li role="Contact"><a href="contact.html"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Контакты</a></li>
{% endblock navig %}

{% block cont %}

	{% for Sale in Sales %}
	<div class="sale-item full-align">
		<div class="sale-img col-sm-3">
			<img class="sale-image" src="{{Sale.product.image.url}}" alt="Picture">
		</div>
		<div class="sale-text col-sm-9">
			<h2 class="sale-name">{{Sale.product.name}}</h2>
			<h5 class="sale-count">{{Sale.count}}</h5>
			<h5 class="sale-total-price">{{Sale.total_price}}</h5>
			{% csrf_token %} 
			<button class="btn-sale-remove btn btn-success" type="button" action="saleRemove/" data-name="{{Sale.product.name}}">Убрать</button>
		</div>
	</div>
	<hr class="clear">
	{% endfor %}
	<form method="POST" action="orderCreate" id="order_form">
		{% csrf_token %}
		<div class="form-group">
    		<label for="address_field">Адрес</label>
    		<input type="text" class="form-control" name="address" id="address_field" placeholder="СПб, ул. Московская, д.39, кв.2">
  		</div>
  		<div class="form-group">
    		<label for="contact_field">Контакты</label>
    		<input type="text" class="form-control" name="contact" id="contact_field" placeholder="+7-9**-***-**-** Иван">
  		</div>
  		<button class="btn btn-success" type="submit">Оформить заказ</button>
	</form>
	<br><hr>

{% endblock cont %}