{% extends "base.html" %}

{% block navig %}
	<li role="Main"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a></li>
	<li role="Catalog" class="active"><a href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Каталог</a></li>
	<li role="Bag"><a href="bag.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина</a></li>
	<li role="About"><a href="about.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> История</a></li>
	<li role="Contact"><a href="contact.html"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Контакты</a></li>
{% endblock navig %}

{% block cont %}
	
	{% for Type in Types %}
		<div class="clear"><h2>{{Type}}</h2></div>
		<div>
			{% for Product in Products %}
				{% if Product.product_type == Type %}
					<div class="product-box col-sm-4 col-lg-3">
						<div class="product-cell text-center">
							<div class="product-picture">
								<img class="product-image" src="{{Product.image.url}}" alt="Picture">
							</div>
							<div class="product-name">
								<h5>{{Product.name}}</h5>
							</div>
							<div class="product-price">
								<h4>{{Product.price}} руб.</h4>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<hr class="clear">
	
	{% endfor %}

{% endblock cont %}