{% extends "base.html" %}

{% load static %}

{% block navig %}
	<li role="Main" class="active"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a></li>
	<li role="Catalog"><a href="catalog.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Каталог</a></li>
	<li role="Bag"><a href="bag.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина</a></li>
	<li role="About"><a href="about.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> История</a></li>
	<li role="Contact"><a href="contact.html"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Контакты</a></li>
{% endblock navig %}

{% block cont %}

	<div class="full-align text-center hidden-xs">
		<h4 class="address-box"><em>
			Санкт-Петербург, Лиговский проспект 74, 
			<br>
			Лофт-проект «Этажи», Контейнерная улица, кафе 1,15.
			<br>
			<br>
			Время работы: Ежедневно	с 11:00 до 21:00
		</em></h4>					
	</div>
	{% for New in News %}
	<div class="news-post full-align">
		<div class="news-post-img col-lg-4 col-md-4 col-sm-4">
			<a href="#">
				<img class="news-post-image" src="{% static 'img/place1.jpg' %}" alt="Picture">
			</a>
		</div>
		<div class="news-post-text col-lg-8 col-md-8 col-sm-8">
			<h4 class="news-post-title">{{New.title}}</h4>
			<h5 class="news-post-date">{{New.date}}</h5>
			<h5 class="news-post-content">{{New.content}}</h5> 
		</div>
	</div>
	<hr class="clear">
	{% endfor %}

{% endblock cont %}