{% extends "base.html" %}

{% load static %}

{% block navig %}
	<li role="Main" class="active"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a></li>
	<li role="Catalog"><a href="catalog.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Каталог</a></li>
	<li role="Bag"><a href="bag.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина
		<span id="cart-size">
			{% if Cart != 0%}
				({{Cart}})
			{% endif %}
		</span>
	</a></li>
	<li role="About"><a href="about.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> О нас</a></li>
	<li role="Contact"><a href="contact.html"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Контакты</a></li>
{% endblock navig %}

{% block cont %}
	
	<div class="prime-box">
		<div class="news-post center-box">	
			<div class="news-post-img col-sm-3">
				<img class="news-post-image" src="{{News.image.url}}" alt="Picture">
			</div>
			<div class="news-post-text col-sm-9">
				<h1 class="slogan-pr">{{News.title}}</h1>
				<h5 class="news-post-date">{{News.date}}</h5>
			</div>
		</div>
		<br class="clear">
		<div>
			{% for line in Text %}
				<h4 class="News-text">{{line}}</h4>
			{% endfor %}
		</div>
	</div>
	<br class="clear">

{% endblock cont %}