{% extends "main.html" %}

{% block navig %}
<ul class="nav nav-pills nav-justified">
	<li role="Main"><a href="main.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a></li>
	<li role="Catalog"><a href="catalog.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Каталог</a></li>
	<li role="Bag"><a href="bag.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Корзина</a></li>
	<li role="About"><a href="about.html"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> История</a></li>
	<li role="Contact"><a href="contact.html"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Контакты</a></li>
</ul>
{% endblock navig %}

{% block cont %}

<br>
<div class="conteiner text-center">
	<h1>{{Title}}</h1>
	<hr>
	<form method="POST" action="#">
		{% csrf_token %}
		<div class="form-group">
			<label for="TitleNews">Заголовок</label>
			<input type="text" class="form-control" id="TitleNews" name="TitleNews">
		</div>
		<div class="form-group">
			<label for="TitleNews">Содержание</label>
			<textarea class="form-control" id="ContentNews" name="ContentNews"></textarea>
		</div>
		<button type="submit" class="btn btn-success">Опубликовать</button>
	</form>
	<br>
	<form method="POST" action="#">
		{% csrf_token %}
		<div hidden="true">
			<input type="text" name="Delete-btn" value="Delete">
		</div>
		<button type="submit" class="btn btn-success">Очистить</button>
	</form>
</div>
		

{% endblock cont %}